<?xml version="1.0"?>
<config>
    <tabs>
        <ls_mixedfixed translate="label">
            <label>Loewenstark</label>
            <sort_order>150</sort_order>
        </ls_mixedfixed>
    </tabs>
    <sections>
        <ls_mixedfixed translate="label" module="adminhtml">
            <label>Mixed Content</label>
            <tab>ls_mixedfixed</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <update_product translate="label comment">
                    <label>Product description</label>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <run_product translate="label">
                            <label><![CDATA[<strong>http => https</strong>]]></label>
                            <frontend_model>ls_mixedfixed/adminhtml_update_product_button</frontend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </run_product>
                    </fields>
                </update_product>
                <update_category translate="label comment">
                    <label>Category description</label>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <run_product translate="label">
                            <label><![CDATA[<strong>http => https</strong>]]></label>
                            <frontend_model>ls_mixedfixed/adminhtml_update_category_button</frontend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </run_product>
                    </fields>
                </update_category>
                <update_page translate="label comment">
                    <label>CMS Page</label>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <run_product translate="label">
                            <label><![CDATA[<strong>http => https</strong>]]></label>
                            <frontend_model>ls_mixedfixed/adminhtml_update_page_button</frontend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </run_product>
                    </fields>
                </update_page>
                <update_block translate="label comment">
                    <label>CMS Block</label>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <run_product translate="label">
                            <label><![CDATA[<strong>http => https</strong>]]></label>
                            <frontend_model>ls_mixedfixed/adminhtml_update_block_button</frontend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </run_product>
                    </fields>
                </update_block>
            </groups>
        </ls_mixedfixed>
    </sections>
</config>